<div class="container">
  <div class="sub-container">
    <div class="div-row">
      <h1>Listagem de Tarefas</h1>
      <button mat-fab color="primary" (click)="openAddFormDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <br />

    <mat-form-field class="example-full-width input-group" appearance="outline">
      <mat-label>Número</mat-label>
      <input
        type="number"
        min="1"
        matInput
        class="form-control"
        [(ngModel)]="FilterNumber"
      />
      <mat-hint>Insira o número da tarefa</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width input-group" appearance="outline">
      <mat-label>Título/descrição</mat-label>
      <input
        matInput
        class="form-control"
        [(ngModel)]="FilterTitle_description"
      />
      <mat-hint>Insira o título ou a descrição da tarefa</mat-hint>
    </mat-form-field>

    <div class="div-row">
      <mat-form-field
        class="example-full-width input-group"
        appearance="outline"
      >
        <mat-label>Responsável</mat-label>
        <input
          matInput
          class="form-control mat-input"
          [(ngModel)]="FilterResponsible"
        />
        <mat-hint>Insira o responsável pela tarefa</mat-hint>
      </mat-form-field>

      <mat-form-field
        class="example-full-width input-group"
        appearance="outline"
      >
        <mat-label>Situação</mat-label>
        <mat-select [(ngModel)]="FilterSituation">
          <mat-option hidden>Escolha Situação</mat-option>
          <mat-option value="em-andamento">Em andamento</mat-option>
          <mat-option value="finalizada">Concluído</mat-option>
        </mat-select>
        <mat-hint>Insira a situação da tarefa</mat-hint>
      </mat-form-field>

      <mat-form-field
        class="example-full-width input-group"
        appearance="outline"
      >
        <mat-label>Prioridade</mat-label>
        <mat-select [(ngModel)]="FilterPriority">
          <mat-option hidden>Escolha a prioridade</mat-option>
          <mat-option value="alta">Alta</mat-option>
          <mat-option value="media">Média</mat-option>
          <mat-option value="baixa">Baixa</mat-option>
        </mat-select>
        <mat-hint>Insira a prioridade da tarefa</mat-hint>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="button-search"
      (click)="handleFilter()"
    >
      Buscar Tarefas
    </button>
    <button
      *ngIf="haveFilter() && todos !== filteredTodos"
      mat-raised-button
      color="accent"
      class="button-search"
      (click)="handleResetFilters()"
    >
      Limpar Filtros
    </button>

    <table *ngIf="filteredTodos.length">
      <tr>
        <th>Nº</th>
        <th>Título</th>
        <th>Responsável</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let v of filteredTodos; let i = index">
        <td [id]="v.data.situation === 'em-andamento' ? '' : 'green'" (click)="openViewEditFormDialog(false, v.data.index)">
          {{ v.data.index + 1 }}
        </td>
        <td [id]="v.data.situation === 'em-andamento' ? '' : 'green'" (click)="openViewEditFormDialog(false, v.data.index)">
          {{ v.data.title }}
        </td>
        <td [id]="v.data.situation === 'em-andamento' ? '' : 'green'" (click)="openViewEditFormDialog(false, v.data.index)">
          {{ v.data.responsible }}
        </td>
        <td [id]="v.data.situation === 'em-andamento' ? '' : 'green'">
          <div class="div-actions">
            <button
              mat-fab
              style="background: var(--green)"
              [style]="v.data.situation === 'em-andamento' ? 'background: var(--green)' : 'background: var(--accent)'"
              (click)="toggleSituation(v.data.index)"
            >
              <mat-icon *ngIf="v.data.situation === 'em-andamento'">check</mat-icon>
              <mat-icon *ngIf="v.data.situation === 'finalizada'">close</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              (click)="openViewEditFormDialog(false, i)"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              (click)="openViewEditFormDialog(true, i)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              (click)="handleRemove(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>

    <h2 *ngIf="!filteredTodos.length" style="margin-top: 2rem">Nenhuma tarefa encontrada</h2>
  </div>
</div>
