@import "../node_modules/@angular/material";

:root {
  --primary: #3f51b5;
  --light-primary: #3f51b56b;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: #353535;

  select {
    cursor: pointer;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
  font-weight: bold !important;
  margin-bottom: 0 !important; 
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}
