@import "../node_modules/@angular/material";

:root {
  --white: #eaeaea;
  --black: #353535;
  --black1: #636e72;
  --black2: #859BB2;
  --primary: #3f51b5;
  --light-primary: #3f51b56b;
  --accent: #ff4081;
  --light-accent: #ff408060;
  --green: #00b84a;
  --light-green: #00b84a48;
  --dark-green: #038537;
  --yellow: #ffaf19;
  --light-yellow: #ffae1998;
  --dark-yellow: #876c3a;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);

  select {
    cursor: pointer;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
  font-weight: bold !important;
  margin-bottom: 0 !important; 
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}
